.containerPage {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
}

//huvudstyling
.heading1 {
  font-size: $font64;
}

.heading2 {
  font-size: $font32;
  padding-top: 5px;
  padding-bottom: 5px;
}
.paragraphText {
  margin-left: 10px;
  margin-right: 10px;
}
//header
header {
  width: 100%;
}

.containerLogoAndSearch {
  flex-direction: row;

  align-items: flex-end;
}

.navMenu {
  display: block;
  margin-bottom: 20px;
}
.selectMenu {
  display: none;
}

//main content
.firstPage {
  .containerFirstPageImages {
    display: flex;
  }

  .containerFirstPageText {
    width: 50%;
  }
}
