//fonter
$font: "Poppins", sans-serif;

//färger
$colorBlack: #000000;
$colorWhite: #ffffff;
$color1: #f1efeb;
$color2: #e6e6e1;
$color3: #d9d3ce;
$color4: #ccbfb3;
$color5: #cbbbac;

//font storlek
//14 px
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font32: 2rem;
$font64: 4rem;
